[Unit]
Description=start bt-11 serial communication on UART1 ttyTHS0 & AI BOX internet watchdog
After=network.target

[Service]
ExecStart=/home/nvidia/bt-11/start_bt.sh
WorkingDirectory=/home/nvidia/bt-11
Environment=LD_LIBRARY_PATH=/usr/local/lib
Environment=PYTHONPATH=/home/nvidia/.local/lib/python3.8/site-packages:$PYTHONPATH


[Install]
WantedBy=multi-user.target
